{% extends "base.html" %}
{% block content %}
<div class = "hiddenContent" id = "data1">{{ savedAutomaticNightLight }}</div>
<div class = "hiddenContent" id = "data2">{{ savedAutomaticDayNightMode }}</div>
<div class = "hiddenContent" id = "data3">{{ savedIsNightLightActive }}</div>
<div class = "hiddenContent" id = "data4">{{ savedIsNightModeActive }}</div>
<div class="container">
    <div class="jumbotron">
        {% for bill in bills %}
        <div class="card">
            <a href="{{url_for('bill_details', invoice_number=bill.invoice_number)}}">
                <h5 class="card-header">{{bill.invoice_number}}</h5>
            </a>
            <div class="card-body">
            <h5 class="card-title">Supplier: {{bill.supplier_name}}</h5>
            <p class="card-text">Bill total: Rs. {{bill.bill_total}}
                <br>
                Bill date: {{bill.bill_date.strftime('%d/%m/%Y')}}
                <br>
                Bill paid: {% if bill.bill_paid_status %}
                <font color="#00ff00">Yes</font>
                {% else %}
                <font color="#ff0000">No</font>
                {% endif %}
            </p>
        </div>
    </div>
    <br>
    {% endfor %}
</div>
</div>
{% endblock %}