{% extends "base.html" %}
{% block content %}
<div class = "hiddenContent" id = "data1">{{ savedAutomaticNightLight }}</div>
<div class = "hiddenContent" id = "data2">{{ savedAutomaticDayNightMode }}</div>
<div class = "hiddenContent" id = "data3">{{ savedIsNightLightActive }}</div>
<div class = "hiddenContent" id = "data4">{{ savedIsNightModeActive }}</div>
<div class="container jumbotron"><h1>Bill already exists.</h1>
<a href="{{url_for('bill_details',invoice_number=invoice_number)}}" class="btn btn-primary">Go to bill</a></div>
{% endblock %}